.container {
    width: 400px;
    height: 400px;
    background-color: tomato;
}

.container button {
    margin-right: 10px;
}

.container div {
    width: 100px;
    height: 100px;
    background-color: blue;
}