@import '@scss/hairline.scss';

:root{
    --blue-color: blue;
    
}
h1{
    color: var(--blue-color);
}
.container{
    width: 200px;
    height: 200px;
    position: relative;
    @include hairline(all, red);
}
.fs{
    font-size: 10px;
}

